{%extends 'base.html'%}

{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Employee Name</th>
                    <th>Dob</th>
                    <th>Email</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>{{empdetails.id}}</td>
                    <td>{{empdetails.user_name}}</td>
                    <td>{{empdetails.employee_name}}</td>
                    <td>{{empdetails.dob}}</td>
                    <td>{{empdetails.email}}</td>
                    <td>{{empdetails.designation}}</td>
                    <td>{{empdetails.salary}}</td>
                    <td>{{empdetails.password}}</td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{%endblock%}